.root {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  position: relative;
  background: #696969;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.mainNavbar:global(.__wab_instance) {
  position: relative;
}
.secondNavbar:global(.__wab_instance) {
  position: relative;
  height: 52px;
}
.img__ghI0W {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 165px;
  top: 515px;
  width: 55px;
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(29deg);
  transform-style: preserve-3d;
}
.img__ghI0W > picture > img {
  object-fit: cover;
}
.img__ghI0W * {
  transform-style: preserve-3d;
}
.img__lIiXe {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 172px;
  top: 334px;
  width: 55px;
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(29deg);
  transform-style: preserve-3d;
}
.img__lIiXe > picture > img {
  object-fit: cover;
}
.img__lIiXe * {
  transform-style: preserve-3d;
}
.img__n5Hel {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 179px;
  top: 428px;
  width: 55px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(40deg);
}
.img__n5Hel > picture > img {
  object-fit: cover;
}
.img___4Ua8G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 184px;
  top: 246px;
  width: 55px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(40deg);
}
.img___4Ua8G > picture > img {
  object-fit: cover;
}
.img__nWIff {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 103px;
  top: 567px;
  z-index: 1;
  width: 30px;
}
.img__nWIff > picture > img {
  object-fit: cover;
}
.img___7DdWo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 264px;
  top: 489px;
  z-index: 1;
  width: 30px;
}
.img___7DdWo > picture > img {
  object-fit: cover;
}
.img__enAel {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 104px;
  top: 389px;
  z-index: 1;
  width: 30px;
}
.img__enAel > picture > img {
  object-fit: cover;
}
.img__qrKjq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 264px;
  top: 310px;
  z-index: 1;
  width: 30px;
}
.img__qrKjq > picture > img {
  object-fit: cover;
}
.img__g4VyF {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 103px;
  top: 220px;
  z-index: 1;
  width: 30px;
}
.img__g4VyF > picture > img {
  object-fit: cover;
}
.freeBox {
  display: block;
  position: absolute;
  width: 447px;
  height: 64px;
  max-width: 100%;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  left: -7.5px;
  top: 672px;
  background: #545454;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 16px 0px #000000;
  border: 1px solid #00000040;
}
.homeIcon:global(.__wab_instance) {
  position: absolute;
  top: 12px;
  left: 31px;
}
.profileIcon:global(.__wab_instance) {
  position: absolute;
  top: 12px;
  left: 327px;
}
.playIcon:global(.__wab_instance) {
  position: absolute;
  top: 12px;
  left: 176px;
}
.step1Button__y7Jj:global(.__wab_instance) {
  position: absolute;
  top: 544px;
  left: 78px;
}
.step1Button__dkSpc:global(.__wab_instance) {
  position: absolute;
  top: 468px;
  left: 239px;
}
.step1Button___1Gfzd:global(.__wab_instance) {
  position: absolute;
  top: 290px;
  left: 239px;
}
.step1Button__ppCd:global(.__wab_instance) {
  position: absolute;
  top: 368px;
  left: 78px;
}
.step1Button__zVc21:global(.__wab_instance) {
  position: absolute;
  top: 198px;
  left: 78px;
}
