.root {
  display: block;
  width: 80px;
  height: 73px;
  max-width: 100%;
  padding-left: 8px;
  padding-top: 8px;
  background: #049b1f;
  filter: none;
  box-shadow: 5px 10px 10px 0px #000000b3;
  padding-right: 8px;
  position: relative;
  border-radius: 50%;
  border: 3px solid #ff8c00;
}
.root:hover {
  background: #089521;
}
.root:active {
  background: #ff8c00;
  border-color: #0ab729;
}
